@import "tailwindcss";

@theme {
  --color-brand: #00cf6a;
  --color-brand-dark: #00a455;
  --color-bg: #0b0b0b;
  
  --font-sans: Outfit, sans-serif;
  --font-serif: "Playfair Display", serif;
}

@layer base {
  body {
    @apply bg-bg text-white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-bg;
}

::-webkit-scrollbar-thumb {
  @apply bg-white/20 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-brand;
}

